//colors

//originals
// $blue: rgba(160, 196, 203);
$pink: rgb(225, 195, 195);
$black: rgb(62, 62, 61);

//test
$red: #A83853;
$orange: #D5605D;

$green: #568b25;
$darkgreen: #0f5009;

$primary: $green;
$secondary: $darkgreen;